<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAiCvnNHcKB2V7HtI7NmRuK0fDyUFmNY7g</string>
	<key>GCM_SENDER_ID</key>
	<string>606927500645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solennix.app</string>
	<key>PROJECT_ID</key>
	<string>solennix-c193f</string>
	<key>STORAGE_BUCKET</key>
	<string>solennix-c193f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606927500645:ios:e518a18d7efba22e9d5d8c</string>
</dict>
</plist>